@import url(theme.css);

* {
  box-sizing: border-box;
}

#agendamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}

#agendamento > header {
  max-width: 1080px;
}

#agendamento > main {
  display: flex;
  justify-content: center;
  width: 100%;
}

#agendamento > main .wrapper {
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  gap: 8em;
  align-items: center;
  justify-content: space-between;
}

#agendamento > main section {
  max-width: 1080px;
}

#agendamento .banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

#agendamento .banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  padding: 2em;
  text-align: center;
  height: 100%;
  font-size: 1.5em;
}

#agendamento .banner-text h2 {
  font-size: 2em;
}

#agendamento .banner-text button {
  font-size: 1.125em;
  padding: 0.5em;
  border-radius: 1em;
  transition: background-color 0.2s ease-in-out;
}

#agendamento .banner-text button:hover {
  background-color: var(--md-sys-color-on-primary);
}

#agendamento .banner-text button:hover span {
  color: var(--md-sys-color-secondary);
}

#especialidades-lista {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 1em;
  border-radius: 1em;
  font-size: 1.25em;
  gap: 1em;
}

#especialidades-lista h3 {
  font-size: 1.5em;
}

#especialidades-lista input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--md-sys-color-surface-variant);
  font: inherit;
  color: var(--md-sys-color-primary);
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  border: 1px solid teal;
  border-color: var(--md-sys-color-primary);
  border-radius: 50%;
  transform: translateY(0.125em);
  transition: 120ms transform ease-in-out;
}

#especialidades-lista input[type="radio"]:checked {
  transform: scale(1);
  box-shadow: inset 1em 1em var(--md-sys-color-primary);
}

#especialidades-lista input[type="radio"]:hover {
  transform: scale(1);
  outline: max(2px, 0.15em) solid var(--md-sys-color-primary);
  outline-offset: max(2px, 0.15em);
}

#calendario {
  padding: 1em;
  border-radius: 1em;
}

.mensal {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.semanal {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.dias {
  font-size: 1.25em;
  text-align: center;
}

.dias input[type="radio"] {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  pointer-events: none;
}

.dias label {
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0.25em;
}

.dias input[type="radio"]:checked + label {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border-radius: 50%;
}

.dias label:hover {
  background-color: var(--md-sys-color-on-primary);
  color: var(--md-sys-color-primary);
  border-radius: 50%;
}
