* {
    padding: 20px;
}

body {
    font-family: roboto, monospace;
}

.bloco-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bloco-1 div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bloco-1 img {
    width: 200px;
    
    
}

.bloco-1 p {
    text-align: center;
}