body#agendamento {
  display: flex;
  justify-content: center;
  background: var(--material-theme-sys-light-on-primary: #002020;);
}

#agendamento-page {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  background: var(--material-theme-sys-light-primary, #006a6a);
}
